body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  background-color: black;
  color: pink;
}

nav a {
  color: pink;
  transition-duration: 0.4s;
}

nav a:hover {
  color: white;
}

nav ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}